body {
    background: white;
    color: white;
    font-family: helvetica Neue, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
 
/* Headers */
 header {
     background-color: black;
     background-image: url("images/aerial-aerial-view-baguette-baked.jpg");
     background-position: center;
     background-size: 100%;
     height: 400px;
     padding: 40px;
     text-align: center;
 }

 header a {
     color: black;
     margin-top: 100px;
     text-decoration: none;
     text-transform: uppercase;
     position: relative;
 }
 
 header .logo a {
     background-image: url("images/logo.png");
     background-repeat: no-repeat;
     background-size: 300px;
     display: inline-block;
     height: 240px;
     position: relative;
     text-indent: -99999999px;
     top: -150px;
     width: 300px;
 }
 header .mobile {
     display: none;
 }

 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 nav li {
     display: inline-block;
     margin-right: 20px;
     padding: 2px;
     }



 /* Features */
 
 .features {
     background: white;
     color: black;
     display: flex;
     flex-direction: row;
     padding: 40px;
     
 }

 .features figure {
    color: black;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
 }
  
 .features figure img {
    border: 1px solid rgb(117, 113, 113);
    border-radius: 20px;
    box-shadow: rgb(87, 81, 81) 0 0 20px;
    width: 200px;
 }
 a:hover {
     background: white;
     border-radius: 3px;
 }
 
 /* Lowers */

 .lower {
    background: white;
     color: black;
     display: flex;
     flex-direction: row;
     padding: 40px; 

 }
 .lower figure {
    color: black;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
 }
 .lower figure img {
    border: 1px solid rgb(117, 113, 113);
    border-radius: 20px;
    box-shadow: rgb(87, 81, 81) 0 0 20px;
    width: 200px;
 }

 /* Footer */

 footer {
    background: blue;
    color: white;
    padding: 10px 20px;
    text-align: center;
 }

