* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(190deg, #010b37, #08090c);
    overflow: hidden;
}

.about-title {
    font-size: 7.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.2em;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    white-space: nowrap;
    background: linear-gradient(to bottom, rgb(255 255 255 / 35%) 30%, rgb(255 255 255 / 0%) 76%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.carousel-container {
    width: 100%;
    max-width: 1200px;
    height: 450px;
    position: relative;
    perspective: 1000px;
    margin-top: 80px;
}

.carousel-track {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card {
    position: absolute;
    width: 280px;
    height: 380px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card.center {
    z-index: 10;
    transform: scale(1.1) translateZ(-100px);
}

.card.left-1,
.card.right-1 {
    z-index: 5;
    transform: scale(0.9) translateZ(-100px);
    opacity: 0.9;
}


.card.left-2,
.card.right-2 {
    z-index: 1;
    transform: scale(0.8) translateZ(-300px);
    opacity: 0.7;
}

.card.left-1 img ,
.card.left-2 img, 
.card.right-1 img,
.card.right-2 img {
    filter: grayscale(100%);
}

.card.left-1 {
    transform: translateX(-200px) scale(0.9) translateZ(-100px);
}

.card.left-2 {
    transform: translateX(-400px) scale(0.8) translateZ(-300px);
}

.card.right-1 {
    transform: translateX(200px) scale(0.9) translateZ(-100px);
}

.card.right-2 {
    transform: translateX(400px) scale(0.8) translateZ(-100px);
}

.card.hidden {
    opacity: 0;
    pointer-events: none;
}

.song-info {
    text-align: center;
    margin-top: 40px;
    transition: all 0.5s ease-out;
}

.song-name {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

.song-name::before,
.song-name::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 100px;
    height: 2px;
    background: rgb(8, 42, 123);
}

.song-name::before {left: -120px;}
.song-name::after {right: -120px;}
.singer-name {
    color: #848696;
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 10px 0;
    margin-top: -15px;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #cccccc70;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot.active {
    background: white;
    transform: scale(1.2);
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    color: #01030F;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 20;
    transition: all 0.3s ease;
    font-size: 1.5rem;
    border: none;
    padding-bottom: 4px;
}


.nav-arrow:hover {
    transform: translateY(-50%) scale(1.1);
}

.nav-arrow.left {
    left: 20px;
    padding-right: 3px;
}

.nav-arrow.right {
    right: 20px;
    padding-left: 3px;
}

button img {
    width: 40px;
}

@media (max-width: 768px) {
    
}